* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: #232730;
}

p {
    font-size: 1.5rem;
}

html {
    scroll-behavior: smooth;
}

.languages li {
    font-size: 1.7rem;
    font-weight: bold;
}

body {
    background: rgb(157,241,215);
    background: linear-gradient(0deg, rgba(157,241,215,1) 0%, rgba(209,245,240,1) 55%);
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23a390;
}

header h3 {
    color: #EDF7F0;
    margin-left: 2vw;
    font-size: 1.4rem;
}

ul {
    list-style-type: none;
}

header ul {
    display: flex;
    justify-content: space-between;
    margin-right: 1.5vw;
    width: 290px;
}

header a{
    color: #EDF7F0;
    padding: 0.8vw;
    text-decoration: none;
    transition: 0.5s;
}

header a:hover {
    color: #115046;
}

.name {
    text-align: center;
    font-size: 3rem;
    margin-top: 40vh;
}

main ul {
    margin: 1rem;
}

.experience {
    text-align: center;
    margin: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 65vh;
}

.experience a {
    color: #23a390;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;

}

.arrowhead {
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #232730;
    border-right: 5px solid #232730;
    animation: animate 2s infinite;
    z-index: -1;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10vw;

}

.welcome {
    text-align: center;
    margin-top: 10vh;
    font-size: 1.5rem;
}

.about h2 {
    margin-bottom: 4vh;
    font-size: 2rem;
}

footer {
    background-color: #115046;
    height: 20vh;
}

footer a, footer h1 {
    color: #EDF7F0;
    padding: 1vh;
}

.contact {
    padding: 3vh;
    padding-left: 20vw;
}

@media screen and (max-width: 550px) {
    header a {
        font-size: 1rem;
    }

}

.among-us {
    position: relative;

    bottom: 10%;
    width: 100px;
    height: 150px;
    background-color: #23a390;
    border-radius: 50% 50% 40% 40%;
    transform: rotate(10deg);
}

.among-us::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 80px;
    background-color: #23a390;
    border-radius: 50%;
    top: 22%;
    left: 80%;
}

.among-us::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 85px;
    background-color: #fff;
    border-radius: 50%;

    left: 10%;
    transform: rotate(-90deg);
}